{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="center">Actualités</h1>

	{% for info in infos %}


		<div class="card text-white bg-primary mt-3 mb-3 text-center" style="width: 100%;">
			<div class="card-header">{{ info.title }}</div>
			<div class="card-body">
				{{ info.body}}
			</div>
            <div class="card-footer">
            {{info.author}}
            </div>
		</div>

	{% endfor %}
{% endblock %}
