{% extends "base.html.twig" %}

{% block body %}

<div class="card text-white bg-primary mt-3 mb-3 text-center" style="max-width: 20rem;">
  <div class="card-header">{{ paper.reference }}</div>
  <div class="card-body">
    <h4 class="card-title">{{ paper.name }}</h4>
    <p class="card-text">{{paper.quantity}}</p>
  </div>
</div>

{% endblock %}