{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex justify-content-between mt-4">
	<h1 class="mt-1">Stock papier</h1>
	<button type="button" class="btn btn-primary">Ajouter</button>
</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Reference</th>
				<th scope="col">Quantity en stock</th>
				<th scope="col">Mouvement</th>
			</tr>
		</thead>

		{% for paper in papers %}

			<tr class="table-light">

				<th scope="row">
					<a href="{{path('paper_item',{'id':paper.id})}}">{{paper.name}}</a>
				</th>

				<td>{{paper.reference}}</td>

				<td>{{paper.quantity}} ex.</td>
				<td>
					<button type="button" class="btn btn-primary">
						Mouvement
					</button>
				</td>
			</tr>
		{% endfor %}

	</table>

{% endblock %}
